{% extends 'base.html' %}



{% block title %}Contact Us{% endblock %}


{% block content %}

<div class="container my-5 mx-auto text-center bg-slate-900 text-white">
    <form action="/contact" method="POST" class="m-auto w-2/4 text-center">

        <div class="p-2 w-full">
            {{output}}
            <div class="relative">
                <label for="name" class="leading-7 text-sm  text-white">Name</label>
                <input type="text" id="name" name="name"
                    class="w-full  bg-slate-700 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus: focus:ring-2 focus:ring-indigo-200 text-base outline-none  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
        <div class="p-2 w-full">
            <div class="relative">
                <label for="email" class="leading-7 text-sm  text-white">Email</label>
                <input type="email" id="email" name="email"
                    class="w-full  bg-slate-700 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus: focus:ring-2 focus:ring-indigo-200 text-base outline-none  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
        <div class="p-2 w-full">
            <div class="relative">
                <label for="message" class="leading-7 text-sm  text-white">Message</label>
                <textarea id="message" name="message"
                    class="w-full  bg-slate-700 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus: focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none  py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
        </div>
        <div class="p-2 w-full">
            <button type="submit"
                class="flex mx-auto text-white bg-slate-800 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Send</button>
        </div>
    </form>

        {% comment %} <label for="Name" class="leading-7 text-sm text-white">Name</label>
        <input type="text" min="0" id="Name" name="Name"
            class="w-full bg-opacity-50 rounded border bg-slate-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none  text-center py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required> <br>

        <label for="Email" class="leading-7 text-sm text-white">Email</label>
        <input type="email" min="0" id="Email" name="Email" value="Enter Valid Email Id"
            class="w-full  bg-opacity-50 rounded border bg-slate-700  focus:border-indigo-500  focus:ring-2 focus:ring-indigo-200 text-base outline-none  text-center py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required><br>

        <label for="Description" class="leading-7 text-sm text-white">Description</label>
        <input type="text" min="0" id="Description" name="Description"
            class="w-full  bg-opacity-50 rounded border bg-slate-700  focus:border-indigo-500  focus:ring-2 focus:ring-indigo-200 text-base outline-none  text-center py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required> <br>

        <button type="submit" class="flex mx-auto my-5 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
    </form>
</div> {% endcomment %}

{% endblock %}